div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
a {
	color: $color_link;
	&:hover {
		color: tint($color_link,50%);
	}
}
a,input,button {
	transition: all ease-out .3s;
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}
@media screen and (max-width: 600px) {
	#wpadminbar {
		top: -46px;
	}
}

/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
body {
	font-family: $font_main;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.6;
	color: $color_text_main;
	position: relative;
}
h1,h2,h3,h4,h5,h6 {line-height:1.4}
h1 {font-size:2rem;font-weight:500;}
h2 {font-size:1.3rem;font-weight:500;}
h3 {font-size:1.3rem;font-weight:500;}
h4 {font-size:1.1rem;font-weight:500;}
h5 {font-size:0.95rem;font-weight:500;}
h6 {font-size:0.85rem;font-weight:500;}
.wrapper {
	max-width: $wrapper_width;
	width: 100%;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	@media screen and (max-width: $xswidth) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.site {
	position: relative;
	overflow-x: hidden;
    overflow-y: auto;
}
#content {
	margin-top: 0;
	@include mid {
		margin-top: 20px;
	}
}
.default .site-main {
	min-height: 65vh;
}
.btn-default {
	background: $primary;
	display: inline-block;
	text-decoration: none;
	-webkit-apperance:none;
	box-shadow: none;
	text-shadow: none;
	border: none;
	cursor: pointer;
	color: #FFF;
	padding: 12px 25px;
    font-size: 13px;
    line-height: 1.2;
    transition: all ease-out .3s;
    &:hover {
    	color: #FFF;
		background: tint($primary,30%);
    }
}

/* Header */
.site-header {
	position: relative;
}
body.subpage.nobanner .site-header {
	.head-inner {
		max-width: $wrapper_width;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	.main-navigation .main-menu-wrap {
		padding-left: 0;
		padding-right: 0;
	}
}
.logo {
	display: block;
	width: 75px;
	float: left;
	margin-left: 20px;
	@include mid {
		width: 220px;
		box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.08);
		margin-left: 5%;
	}
	@include desk {
		margin-left: 8%;
	}
	@include xxl {
		margin-left: 13%;
	}
	a {
		background: #FFF;
		padding: 12px 0 16px;
		@include mid {
			padding: 18px 35px 20px;
		}
	}
	a, img {
		display: block;
		width: 100%;
		height: auto;
		float: left;
	}
}
.logo-wrapper.wrapper {
	position: relative;
	max-width: 100%;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
/* Navigation */
.main-navigation {
	@include mid {
		width: 80%;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 30px;
	}
	@include desk {
		width: 70%;
	}

	.main-menu-wrap {
		transition: all ease-in-out .5s;
		@include mid {
			background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
			box-shadow: 10px 1px 10px 2px rgba(0, 0, 0, 0.05);
			display: inline-block;
			float: right;
			padding-left: 6%;
			padding-right: 6%;
			height: auto;
			overflow: visible;
		}
		@include desk {
			padding-left: 10%;
			padding-right: 15%;
		}
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	ul.menu {
		display: block;
		width: 100%;
		float: left;
		li {
			position: relative;
		}
	}
	ul.menu > li {
		@include tab {
			display: inline-block;
			float: left;
		}
	}
	ul.menu a {
		display: block;
		text-decoration: none;
		position: relative;
		span {
			position: relative;
			z-index: 5;
		}
	}
	ul.menu > li > a {
		padding: 14px 20px;
		font-size: 16px;
		font-weight: 400;
		color: $color_menu_link;
		@include mid {
			font-weight: 300;
			&:before {
				content:"";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				background: $primary;
				transition: all ease-in-out .3s;
				transform: scaleX(0);
			}
		}
	}
	ul.menu > li.current-menu-item > a,
	ul.menu > li.current_page_item > a {
		background: $primary;
		color: #FFF;
		@include mid {
			&:before {
				opacity: 1;
				width: 100%;
				transform: scaleX(1);
			}
		}
	}
	ul.menu > li:hover > a {
		@include mid {
			background: transparent;
			color: #FFF;
			&:before {
				opacity: 1;
				width: 100%;
				transform: scaleX(1);
			}
		}
	}

	/* Dropdown */
	ul.menu ul {
		li {
			position: relative;
			z-index: 10;
		}
		@include mid {
			transition: all ease-out .3s;
			height: 0;
			max-height: 0;
			opacity: 0;
			visibility: hidden;
			overflow: hidden;
			position: absolute;
			left: 0;
			width: 220px;
			margin-top: -20px;
			&:before {
				content: "";
				height: 0;
				width: 0;
				border-bottom: 10px solid #FFF;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				position: relative;
				top: -8px;
				left: 25px;
			}
			&:after {
				content: "";
				display: block;
				width: 100%;
				height: calc(100% - 30px);
				box-shadow: 0 0 5px rgba(0,0,0,0.4);
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}	
	}
	ul.menu ul > li {
		a {
			display: block;
			color: rgba($color_menu_link,.75);
		}
		@include mid {
			background: #FFF;
			border-top: 1px dotted rgba(0,0,0,0.15);
			a {
				padding: 8px 15px;
				font-size: 14px;
			}
		}
	}
	ul.menu ul > li:hover > a,
	ul.menu ul > li.current_page_item > a {
		color: $primary;
	}
	ul.menu ul > li:first-child {
		border-top: none;
	}
	ul.menu li:hover {
		@include mid {
			ul {
				height: auto;
				max-height: 100vh;
				opacity: 1;
				visibility: visible;
				overflow: visible;
				margin-top: -12px;
			}
		}
	}
}
body.home .main-navigation {
	#primary-menu.menu > li:first-child {
		display: none;
	}
}

body.nobanner {
	.logo {
		box-shadow: none;
		a {
			padding: 10px;
		}
		@include mid {
			width: 130px;
		}
	}
	.main-navigation {
		@include mid {
			margin-top: 20px;
		}
		.main-menu-wrap {
			background: transparent;
			box-shadow: none;
		}
	}
	.entry-header {
		margin-top: 45px;
	}
	h1.entry-title {
		margin: 0 0 30px;
		text-align: center;
		color: $primary;
	}
}

.menu-toggle {
	display: block;
	-webkit-appearance: none;
	outline: none;
	box-shadow: none;
	text-shadow: none;
	background: #FFF;
	position: absolute;
	top: 15px;
	right: 20px;
	width: 50px;
	height: 50px;
	padding: 6px;
	border: none;
	@include mid {
		display: none;
	}
	span.bar {
		position: relative;
	}
	span.bar, span.bar:before, span.bar:after {
		display: block;
		width: 100%;
		height: 3px;
		background: $primary;
		transition: all ease-in-out .3s;
	}
	span.bar:before, span.bar:after {
		content:"";
		position: absolute;
		left: 0;
	}
	span.bar:before {
		top: -10px;
	}
	span.bar:after {
		top: 10px;
	}
	&.open {
		span.bar {
			background: transparent;
		}
		span.bar:before, span.bar:after {
			background: $primary;
		}
		span.bar:before {
			transform: translateY(10px) rotate(45deg);
		}
		span.bar:after {
			transform: translateY(-10px) rotate(-45deg);
		}
	}
}

@media screen and (max-width: $midwidth - 1px) {
	.main-menu-wrap {
		height: 0px;
		max-height: 0;
		overflow: hidden;
	}
	.main-navigation ul.menu {
		padding-top: 10px;
		border-bottom: 5px solid $primary;
		background: #FFF;
	}
	.main-navigation ul.menu > li {
		width: 100%;
		border-top: 1px solid rgba(0,0,0,.15);
	}
	.main-navigation ul.menu > li > a {
		font-size: 20px;
	}
	ul.menu ul > li > a {
		padding: 8px 35px;
		font-size: 16px;
	}
	ul.menu ul {
		margin-bottom: 16px;
	}
	.open {
		.main-menu-wrap {
			max-height: 100%;
			height: auto;
			overflow: visible;
		}
	}
}

#masthead {
	width: 100%;
	background: #FFF;
	position: relative;
	z-index: 100;
	height: 78px;
	@include mid {
		background: transparent;
		height: auto;
	}
}
body.hasbanner #masthead {
	@include mid {
		position: absolute;
		top: 0;
		left: 0;
	}
}

body.home .banner-wrap {
	width: 100%;
	position: relative;
	overflow: hidden;
	.slideItem {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.slideItem,
	.slideItem img {
		width: 100%;
		float: left;
	}	
	.slideItem img {
		height: auto;
		visibility: visible!important;
	}
}

body.home #content.wrapper {
	max-width: 100%;
	width: 100%;
	padding: 0 0;
}

.banner-image {
	img {
		width: 100%;
		height: auto;
		float: left;
	}
}
/* Slideshow */
.swiper-container {
	overflow: hidden;
}
.swiper-container,
.swiper-wrapper {
	width: 100%;
	height: 350px;
	@include tab {
		height: 450px;
	}
	@include mid {
		height: 600px;
	}
	@include desk {
		height: 750px;
	}
}
#slideshow.swiper-container {
	width: 100%;
	height: 100%;
	.swiper-wrapper {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
		float: none!important;
		background-size: cover;
		background-position: center;
		height: 100%;
		position: relative;
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.slideCaption {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-align: left;
		z-index: 10;
		@include flexgroup();
		@include flexbox-align-items(flex-end);
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.wrapper {
			position: relative;
			z-index: 10;
			padding-left: 30px;
			padding-right: 30px;
			@include tab {
				padding-left: 8%;
				padding-right: 8%;
			}
			@include mid {
				padding-left: 12%;
				padding-right: 12%;
			}
			@include desk {
				padding-left: 14%;
				padding-right: 14%;
			}
		}
	}
	.slideMid {
		max-width: 800px;
		width: 100%;
		margin-bottom: 10%;
	}
	.slideInside {
		max-width: 1190px;
		width: 100%;
		margin: 0 auto;
		padding: 30px;
		overflow: hidden;
		.slideTitle, .slideText {
			display: inline-block;
			background: rgba(255,255,255,.65);
			color: $primary;
		}
		.slideTitle,
		.slideText {
			margin: 0 0;
			padding: 5px 10px;
		}
		.slideTitle {
			font-size: 2vw;
			margin-bottom: .3vw;
		}
		.slideText {
			font-size: 1.3vw;
		}
		@media screen and (max-width: 768px) {
			.slideTitle {
				font-size: 3.8vw;
			}
			.slideText {
				font-size: 3vw;
			}
		}
	}
	.caption {
		font-size: 1.7rem;
		font-weight: 400;
		line-height: 1.2;
		color: #FFF;
		padding-top: 40px;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
		@include tab {
			padding-top: 5%;
			font-size: 2.5rem;
		}
		@include mid {
			padding-top: 6%;
		}
	}
	.slideBtn {
		a.sbtn {
			text-decoration: none;
			display: inline-block;
			color: #a11319;
			font-size: 15px;
			line-height: 1.2;
			padding: 4px 12px 2px;
			border: 2px solid $primary;
			border-radius: 3px;
			margin-top: 10px;
			background: $primary;
			color: #FFF;

			@include tab {
				padding: 6px 15px 5px;
				font-size: 18px;
			}
			&:hover {
				background: transparent;
				color: $primary;
			}
		}	
	}
	.swiper-button-next,
	.swiper-button-prev {
		&:after {
			color: #FFF;
			font-size: 40px;
			text-shadow: 0 2px 4px rgba(0,0,0,0.65);
		}
	}
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background: #FFF;
		opacity: 0.45;
		&.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}
	.swiper-slide-active {
		.slideInside {
			animation-name: fadeInLeft;
		}
	}
}

body.home .banner-wrap, 
#slideshow.swiper-container {
	height: 400px;
	@include xs {
		height: 60vh;
	}
	@include tab {
		height: 80vh;
	}
	@include mid {
		height: 95vh;
	}
}

.hd2 {
	font-size: 25px;
	font-weight: 100;
	margin: 0 0 20px;
	position: relative;
}

.section {
	padding-top: 40px;
	padding-bottom: 30px;
	position: relative;
	.flexwrap {
		@include flexgroup();
	}
}
.section.text-middle,
.row1.section {
    padding-top: 40px;
    padding-bottom: 40px;
    @include mid {
    	padding-top: 10px;
    	padding-bottom: 30px;
    }
	.text {
		width: 100%;
		padding: 2em 0;
		@include tab {
			padding: .45em 0;
		}
		@media screen and (max-width: $xswidth) {
			padding: 1em .7em;
		}
	}
}

.midtext {
	display: block;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	position: relative;
	padding: 0 3%;
	max-width: 1000px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	// &.midtextLg {
	// 	max-width: 750px;
	// }
	&.small {
		max-width: 700px;
	}
	&.pad {
		padding: 3% 7%;
		@media screen and (max-width: $xswidth) {
			padding: 7% 7%;
		}
	}
	span.corner {
		// display: block;
		display: none!important;
		width: 25px;
		height: 26px;
		position: absolute;
		opacity: 0.5;
		&.topleft {
			top: 0;
			left: 0;
			border-left: 1px solid $color_text_main;
			&:before {
				content:"";
				display: block;
				width: 100%;
				border-top: 1px solid $color_text_main;
				position: absolute;
				top: 6px;
				left: -6px;
			}
		}
		&.topright {
			top: 0;
			right: 0;
			border-right: 1px solid $color_text_main;
			&:before {
				content:"";
				display: block;
				width: 100%;
				border-top: 1px solid $color_text_main;
				position: absolute;
				top: 6px;
				right: -6px;
			}
		}
		&.bottomleft {
			bottom: 0;
			left: 0;
			border-left: 1px solid $color_text_main;
			&:before {
				content:"";
				display: block;
				width: 100%;
				border-top: 1px solid $color_text_main;
				position: absolute;
				bottom: 6px;
				left: -6px;
			}
		}
		&.bottomright {
			bottom: 0;
			right: 0;
			border-right: 1px solid $color_text_main;
			&:before {
				content:"";
				display: block;
				width: 100%;
				border-top: 1px solid $color_text_main;
				position: absolute;
				bottom: 6px;
				right: -6px;
			}
		}
	}
	.text {
		width: 100%;
		&.lg {
			font-size: 30px;
			font-weight: 500;
		}
	}
}

// body.subpage .row1.section {
// 	.midtext {
// 		max-width: 700px;
// 	}
// }
.row2.section {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #e9ebef;
	.flexwrap {
		@include flexgroup();
	}
	.col {
		width: 100%;
		overflow: hidden;
	}
	&.full .flexwrap {
		max-width: $wrapper_width;
		width: 95%;
		margin: 0 auto;
		text-align: center;
		.text {
			display: inline-block;
			text-align: left;
		}
	}
	&.half {
		.col {
			width: 100%;
			@include mid {
				width: 50%;
			}
		}
	}
	.imagecol {
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;
		@include mid {
			background-image:none!important;
		}
	}
	.imagecol img {
		width: 100%;
		height: auto;
		float: left;
		@include mid {
			transform: scale(1.05);
		}
		@include desk {
			transform: none;
		}
	}
	.textcol {
		padding: 30px 5%;
		font-size: 16px;
		@include flexgroup();
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
		@include tab {
			font-size: 14px;
		}
		@include mid {
			padding: 0 5%;
			padding: 30px 5%;
		}
		h2 {
			font-size: 25px;
			font-weight: 300;
			margin: 0 0 20px;
			@include tab {
				font-size: 22px;
			}
		}
		ul {
			@include tab {
				column-count: 2;
				margin-top: 20px;
				margin-left: -20px;
			}
		}
	}
}

.row3.section {
	padding-top: 50px;
	padding-bottom: 50px;
	@include tab {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	&:before {
		content:"";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		background: rgba(255,255,255, 0.85);
	}
	.imageBg {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-color: #FFF;
		background-position: bottom center;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-filter: grayscale(100%); 
  		filter: grayscale(100%);
	}
	.wrapper {
		position: relative;
		z-index: 10;
	}
}
.contact-form-wrapper {
	background: #FFF;
	padding: 40px 5%;
	box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
	&.contactpage {
		box-shadow: none;
		padding: 0 0 40px;
	}
	.hd2 {
		&:after {
			content:"";
			display: block;
			width: 100%;
			height: 2px;
			background: $primary;
			transform: scaleX(.08);
			margin-top: 40px;
		}
	}
	.flexwrap {
		padding-top: 50px;
		@include flexgroup();
	}
	.flexwrap.half {
		.col {
			@include tab {
				width: 50%;
			}
		}
		.col.contactform {
			margin-top: 50px;
			@include tab {
				margin-top: 0;
				padding-left: 10%;
			}
		}
	}
	.featStaff {
		.image {
			width: 150px;
			height: 150px;
			background-size: cover;
			background-color: #CCC;
			position: relative;
			border-radius: 100%;
			margin: 0 auto 15px;
			@include tab {
				margin: 0 auto;
			}
		}
		.image.nophoto {
			@include flexgroup();
			@include flexbox-align-items(center);
			@include flexbox-justify(center);
			&:before {
				content: "Photo Coming Soon";
				color: #868383;
				font-size: 12px;
				position: relative;
				text-align: center;
				display: block;
				padding: 10px 30px;
			}
		}
		.name {
			margin: 0 0;
			font-size: 18px;
			font-weight: 400;
			color: $primary;
		}
		.info {
			font-size: 14px;
		}
		.jobtitle {
			margin-bottom: 15px;
		}
		.fscol {
			width: 100%;
			float: left;
			text-align: center;
			@include tab {
				width: 50%;
				text-align: left;
			}
		}
	}
	.gform_wrapper {
		margin-top: -25px;
	}
}

#content .gform_wrapper {
	input {
		transition: all ease-out .3s;
	}
	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
	textarea,select {
		box-shadow: none;
		border: none;
		border-bottom: 1px solid #333;
		transition: all ease-out .3s;
		background-color: transparent;
		padding-left: 0;
		padding-right: 0;
	}
	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		height: 35px;
		line-height: 35px;
	}
	textarea,
	textarea.large {
		height: 90px;
		margin-top: 12px;
		&:focus {
			outline: none;
		}
	}
	textarea {
		padding-left: 0;
		padding-right: 0;
	}
	.gfield_required {
		color: $primary;
	}
	.gform_footer {
		padding-top: 0;
		margin-top: 25px;
	}
	.gform_footer input.button {
		background: $primary;
		padding: 6px 20px;
		border: none;
		-webkit-appearance: none;
		box-shadow: none;
		box-shadow: none;
		color: #FFF;
		font-size: 18px;
		margin: 0 0;
		&:hover {
			background: tint($primary,30%);
		}
	}
}
body #content .gform_wrapper ul li.gfield {
	padding-right: 0!important;
	padding-left: 0!important;
	margin-top: 35px;
	position: relative;
	&#field_1_4 {
		margin-top: 20px;
		label.gfield_label.onfocus {
			top: -5px;
		}
	}
	label.gfield_label {
		position: absolute;
		left: 0;
		top: 2px;
		font-size: 14px;
		font-weight: 300;
		color: #acb0b9;
		transition: all ease-out .3s;
	}
	div.ginput_container {
		position: relative;
		z-index: 5;
		input {
			background: transparent;
			&:focus {
				outline: none;
				border-bottom: 1px solid $primary;
			}
		}
	}
	label.gfield_label.onfocus {
		top: -12px;
		font-size: 11px;
	}
	&#field_1_2 {
		margin-top: 25px;
	}
}
.section.section-gallery {
	background: #FFF;
	padding-top: 50px;
	padding-bottom: 50px;
	.sectionBg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		filter: grayscale(100%);
		opacity: 0.13;
	}
	.maintext {
		position: relative;
		z-index: 10;
		@media screen and (max-width: $xswidth) {
			padding-left: 10px;
			padding-right: 10px;
		}
		.flexwrap {
			margin-left: -15px;
			margin-right: -15px;
			@media screen and (max-width: $xswidth) {
				margin-left: -10px;
				margin-right: -10px;
			}
		}
	}
	.btndiv {
		margin-top: 5px;
	}
	.fcol {
		overflow:hidden;
		.inside {
			padding: 20px;
		}
	}
	.imagecol {
		.flexwrap {
			margin: -5px -25px;
		}
	}
	&.half {
		.fcol {
			width: 100%;
			padding: 15px;
			@include tab {
				width: 50%;
			}
		}
	}
	.textcol {
		.inside {
			background: #FFF;
			padding: 30px 35px;
			height: 100%;
			box-shadow: 0 2px 9px rgba(0,0,0,0.2);
			@include flexgroup-center();
			@include tab {
				padding: 8% 10%;
			}
		}
		h1,h2,h3,h4,h5,h6 {
			margin-top: 0;
			margin-bottom: 15px;
		}
		p {
			margin-top: 0;
			margin-bottom: 1.5em;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	.fcol.imagecol {
		.inside {
			padding-top: 0;
			padding-bottom: 0;
			width: 100%;
		}
		div.img {
			padding: 5px;
			position: relative;
			width: 50%;
			@include tab {
				width: 100%;
			}
			div {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			@include tab {
				width: 50%;
			}
			img {
				width: 100%;
				height: auto;
				float: left;
			}
		}
		&.full {
			div.img {
				width: 100%;
			}
		}
		@media screen and (max-width: $xswidth) {
			div.img {
				width: 100%!important;
			}
		}
	}
}
.section.row3_text {
	padding-top: 40px;
	padding-bottom: 30px;
	@include tab {
		padding-top: 60px;
		padding-bottom: 50px;
	}
}
.section.team-list {
	padding-top: 0;
	max-width: $wrapper_width;
	width: 100%;
	margin: 0 auto;
	padding-left: 30px;
    padding-right: 30px;
	.photo {
		position: relative;
		background-color: $color_grey;
		float: left;
		width: 100%;
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.flexwrap {
		@include flexbox-justify(center);
	}
	.hasphoto {
		.photo {
			background-size:cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	.nophoto .photo {
		@include flexgroup-center();
		&:before {
			content:"Photo Coming Soon";
			display: block;
			width: 100%;
			text-align: center;
			font-size: 1.2rem;
			line-height: 1.2;
			color: #b9b9b9;
			position: absolute;
			z-index: 5;
		}
	}
	.flexwrap {
		margin: 0 -10px;
		@include tab {
			margin: 0 -20px;
		}
	}
	.staffinfo {
		padding: 10px;
		width: 50%;
		@include tab {
			padding: 20px;
			width: 50%;
		}
		@include mid {
			width: 25%;
		}
		@media screen and (max-width: $xswidth) {
			width: 100%;
			padding: 20px 10px;
		}
		a {
			display: block;
			float: left;
			width: 100%;
		}
	}
	.titlediv {
		width: 100%;
		float: left;
		position: relative;
		margin-top: 8px;
	}
	h3.name {
		margin: 0 0 2px;
		color: $primary;
		font-size: 1.1rem;
		line-height: 1.2;
		position: relative;
		@include tab {
			padding-right: 64px;
		}
	}
	.jobtitle {
		font-size: 0.75rem;
		line-height: 1.4;
	}
	a.more {
		display: block;
		text-decoration: none;
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 1;
		color: $primary;
		margin-top: 8px;
		width: auto;
		@include tab {
			display: inline-block;
			position: absolute;
			top: 5px;
			right: 0;
			margin-top: 0;
		}
		span {
			display: inline-block;
			transition: all ease-out .3s;
		}
		&:hover {
			color: tint($primary,40%);
			span {
				transform: translateX(3px);
			}
		}
	}
}
.section.projects-list {
	padding-top: 0;
	padding-bottom: 50px;
	top: -15px;
	.flexwrap {
		margin: 0 -15px;
	}
	.project {
		position: relative;
		padding: 15px;
		width: 100%;
		@include tab {
			width: 50%;
		}
		.inside {
			background-color: $color_grey;
			position: relative;
			float: left;
			width: 100%;
		}
		img {
			width: 100%;
			height: auto;
			float: left;
		}
		.projImg {
			display: block;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.projname {
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 10;
			color: #FFF;
			font-size: 1.5rem;
			line-height: 1.3;
			text-align: center;
			background: rgba($primary,.5);
			opacity: 0;
			visibility: hidden;
			transition: all ease-out .3s;
			@include flexgroup-center();
			@include flexbox-justify(center);
			span {
				display: block;
				padding: 20px;
				transition: all ease-out .3s;
				transform: translateY(30%);
			}
		}
		.projlink {
			display: block;
			width: 100%;
			float: left;
			position: relative;
			&:hover {
				.projname {
					opacity: 1;
					visibility: visible;
					span {
						transform: translateY(0);
					}
				}
			}
		}
		&.nophoto {
			a.projlink {
				&:before {
					content:"Photo Coming Soon";
					display: block;
					font-size: 1.3rem;
					line-height: 1.2;
					color: shade($color_grey,15%);
					text-align: center;
					width: 100%;
					position: absolute;
					top: 50%;
					left: 0;
					transition: all ease-out .3s;
					transform: translateY(-50%);
				}
				&:hover {
					&:before {
						opacity: 0.2;
					}
				}
			}
		}
	}
}

.section.projects-list.small-thumbs {
	border-top: 5px solid #CCC;
	padding-top: 40px;
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.project {
		width: 50%;
		@include tab {
			width: 33.3%;
		}
		@include mid {
			width: 25%;
		}
	}
	h2.stitle {
		margin: 0 0 15px;
		font-size: 1.3rem;
	}
	.projname {
		font-size: 1.2rem;
	}
}


.projects-single-page {
	.site-main {
		min-height: 35em;
	}
	.entry-content {
		margin: 3em 0 2em;
	}
}
.section.projects-by-category {
	top: -15px;
	padding-top: 0;
	padding-bottom: 50px;
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.imagebox {
		width: 100%;
		float: left;
		margin: 15px 0;
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.projname {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
		color: #FFF;
		font-size: 1.2rem;
		line-height: 1.3;
		text-align: center;
		background: rgba($primary,.5);
		opacity: 0;
		visibility: hidden;
		transition: all ease-out .3s;
		@include tab {
			font-size: 1.5rem;
		}
		@include flexgroup-center();
		@include flexbox-justify(center);
		span {
			display: block;
			padding: 20px;
			transition: all ease-out .3s;
			transform: translateY(30%);
		}
	}
	a.link {
		text-decoration: none;
		display: block;
		width: 100%;
		float: left;
		position: relative;
		&:hover {
			.projname {
				opacity: 1;
				visibility: visible;
				span {
					transform: translateY(0);
				}
			}
		}
	}
}

.section.projects-by-category.style2 {
	.imagebox:first-child {
		margin-top: 20px;
	}
	.imagebox {
		margin-top: 45px;
	}
	.project-name {
		font-size: 1.2rem;
		line-height: 1.2;
		width: 100%;
		float: left;
		margin-top: 10px;
		text-align: center;
	}
}
.gallery-swiper {
	overflow: hidden;
	position: relative;
	margin: 70px 0 0;
	height: auto;
	@include mid {
		min-height: 700px;
	}
	&#gallery1 {
		margin-top: 20px;
	}
	.gallery-wrap {
		width: 100%;
		height: auto;
		float: left;
		position: relative;
	}
	img.placeholder {
		width: 100%;
		height: auto;
		float: left;
		// display: none;
		// @include tab {
		// 	display: block;
		// }
	}
	.gallerySwipe, 
	.swiper-wrapper, 
	.swiper-slide {
		width: 100%;
		height: 100%;
	}
	.gallerySwipe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		overflow: hidden;
		.swiper-slide {
			background: #FFF;
			text-align: center;
			.imgwrap {
				display: inline-block;
				height: 100%;
				position: relative;
			}
			img {
				max-width: 1140px;
				width: auto;
				height: 100%;
				margin: 0 auto;
				float: left;
			}
		}
	}
	
	.gallerypaginate {
		width: 100%;
		position: static;
		// position: absolute;
		// top: 0;
		// left: 0;
		// top: 50%;
		// left: 0;
		// transform: translateY(-50%);
		z-index: 10;
		a {
			display: block;
			width: 50%;
			height: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background: transparent;
			color: #0a53e6;
			font-size: 30px;
			font-weight: bold;
			text-align: center;
			@include flexgroup-center();
			&.prev {
				left: 0;
				padding-left: 20px;
				@include flexbox-justify(flex-start);
			}
			&.next {
				right: 0;
				padding-right: 10px;
				@include flexbox-justify(flex-end);
			}
			&.swiper-button-disabled {
				display: none;
			}
			svg {
				display: inline-block;
				position: relative;
				top: 10px;
				-webkit-filter: drop-shadow(0px 1px 3px #484848);
    			filter: drop-shadow(0px 1px 3px #484848);
			}
		}
	}
	a.enlarge {
		position: absolute;
		top: 10px;
		right: 10px;
		display: block;
		width: 30px;
	    height: 30px;
	    padding: 2px;
	    background: rgba(0,0,0,.45);
	    transition: all ease-out .3s;
	    z-index: 20;
	    &.zoomicon {
	    	top: 10px;
	    	right: 10px;
	    	width: 30px;
	    	height: 30px;
	    }
	    i {
			font-size: 18px;
			position: relative;
			top: 2px;
			color: rgba(255,255,255,.85);
	    }
	    &:hover {
	    	background: rgba(0,0,0,.95);
	    }
	}
	// .gallery-prev,
	// .gallery-next {
	// 	display: none;
	// 	position: absolute;
	// 	bottom: 20px;
	// 	z-index: 50;
	// 	font-size: 20px;
	// }
	// .gallery-prev {
	// 	left: 0;
	// }
	// .gallery-next {
	// 	right: 0;
	// }
}

.section.gallery-section {
	padding-top: 60px;
	padding-bottom: 70px;
	&.half {
		.main-image {
			width: 100%;
			float: left;
			margin-bottom: 30px;
			@include tab {
				width: 58.5%;
				margin-bottom: 0;
			}
		}
		.galleries {
			width: 100%;
			float: left;
			@include tab {
				width: 39%;
				float: right;
			}
		}
	}
	.main-image {
		@include tab {
			min-height: 500px;
		}
		img {
			width: 100%;
			height: auto;
			float: left;
		}
		a {
			display: block;
			width: 100%;
			float: left;
			position: relative;
			span.zoom {
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 5;
				background: rgba($primary,.35);
				transition: all ease-in-out .3s;
				opacity: 0;
				visibility: hidden;
				@include flexgroup-center();
				@include flexbox-justify(center);
				text-align: center;
				.zoomIcon {
					color: #FFF;
					font-size: 2rem;
				}
			}
			&:hover {
				span.zoom {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.galleries {
		.hide {
			display: none!important;
		}
		.wrap {
			margin: -10px;
		}
		.thumb {
			width: 50%;
			float: left;
			padding: 10px;
			@include mid {
				width: 25%;
			}
			img {
				width: 100%;
				height: auto;
				float: left;
			}
		}
		a {
			display: block;
			width: 100%;
			float: left;
			position: relative;
			background: transparent;
			&:hover {
				background: rgba($primary,.35);
			}
		}
		.gimage {
			width: 100%;
			float: left;
			background-size:cover;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
		}
	}
}
.fancybox-is-open .fancybox-bg {
	opacity: .92;
}
body.single-projects {
	.fancybox-stage {
		margin:0 30px;
	}
}

// #closefancyPic {
// 	display: block;
// 	width: 30px;
// 	height: 30px;
// 	position: absolute;
// 	top: -10px; 
// 	right: -10px; 
// 	z-index: 1000;
// 	background: rgba(0,0,0,.95);
// 	color: #FFF;
// 	text-decoration: none;
// 	text-align: center;
// 	border-radius: 100%;
// 	border: 1px solid #FFF;
// 	@media screen and (max-width: $tabwidth) {
// 		display: none!important;
// 	}
// 	span {
// 		font-family: $font_secondary;
// 		font-size: 18px;
// 		font-weight: 500;
// 		line-height: 1;
// 		position: absolute;
// 		top: 3px;
// 		left: 10px;
// 	}
// }


.fancybox-bg {
	background: rgba(255,255,255,.95)!important;
}
.fancybox-is-open .fancybox-bg {
	opacity: 1!important;
}
.fancybox-toolbar {
	// opacity: 0 !important;
	// visibility: hidden!important;
	// .fancybox-button--close {
	// 	display: none!important;
	// 	@media screen and (max-width: $tabwidth) {
	// 		display: inline-block!important;
	// 	}
	// }
	.fancybox-button.fancybox-button--close {
		background: transparent;
		border: none!important;
		color: #000;
		opacity: 1!important;
		font-size: 40px;
		width: 40px;
		padding: 0 0;
		margin-top: 20px;
    	margin-right: 20px;
    	svg {
    		display: none!important;
    	}
    	&:before, &:after {
    		content:"";
    		display: block;
    		width: 100%;
    		height: 2px;
    		background: #000;
    		position: absolute;
    	}
    	&:before {
    		transform: rotate(-45deg);
    	}
    	&:after {
    		transform: rotate(45deg);
    	}
	}
	.fancybox-button {
		@media screen and (max-width: $tabwidth) {
			background: rgba(30,30,30,.95);
			width: 50px;
		}
	}
}
.fancybox-navigation {
	.fancybox-button--arrow_right,
	.fancybox-button--arrow_left {
		background: #FFF!important;
		opacity: 1!important;
		padding: 0 0;
    	// width: 30px;
    	// height: 30px;
    	width: 100px;
    	height: 100px;
		div {
			display: none!important;
		}
		&:before,&:after {
			content:"";
			display: block;
			width: 30px;
			height: 2px;
			background: #000;
			position: absolute;
		}
	}
	.fancybox-button--arrow_right {
		right: 30px;
		&:before {
			transform: translateY(-10px) rotate(45deg);
		}
		&:after {
			transform: translateY(10px) rotate(-45deg);
		}
	}
	.fancybox-button--arrow_left {
		left: 30px;
		&:before {
			transform: translateY(10px) rotate(45deg);
		}
		&:after {
			transform: translateY(-10px) rotate(-45deg);
		}
	}
}
.fancybox-button:disabled {
	cursor: not-allowed;
	opacity: 0.3!important;
}
body.logged-in {
	.fancybox-toolbar {
		top: 32px!important;
	}
}
body.subpage.nobanner .site-content {
	border-top: 5px solid $primary;
}
body.subpage .single-team {
	h1.entry-title {
		color: $primary;
		text-align: left;
		margin: 0 0;
		line-height: 1.1;
	}
	.jobtitle {
		color: $primary;
		padding-top: 2px;
		span {
			display: block;
			width: 100%;
			line-height: 1.4;
			// border-left: 1px solid #CCC;
			// padding-left: 10px;
			// margin-left: 8px;
		}
		// span:first-child {
		// 	padding-left: 0;
		// 	margin-left: 0;
		// 	border-left: none;
		// }
	}
	.text {
		p {
			margin-top: 0;
			margin-bottom: 20px;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	.head {
		margin-bottom: 20px;
	}
	.hasProfPic {
		.photo {
			width: 100%;
			float: left;
			margin-bottom: 20px;
			@include tab {
				width: 36%;
				margin-bottom: 0;
			}
			img {
				width: 100%;
				height: auto;
				float: left;
			}
		}
		.text {
			width: 100%;
			float: left;
			@include tab {
				width: 60%;
				float: right;
			}
		}
	}
}
.staff-details {
	padding-top: 40px;
	padding-bottom: 50px;
	@include tab {
		padding-top: 90px;
		padding-bottom: 100px;
	}
}
.other-staff {
	background: #f3f3f3;
	.section.team-list {
		max-width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 0;
		padding-right: 0;
		h3.name {
			font-size: 0.95rem;
		}
		a.more, .jobtitle {
			display: none!important;
		}
	}
}
.staff-contact-info {
	margin: 25px -38px 0 0;
	@include tab {
		@include flexbox();
	}
	.col {
		width: 100%;
		padding: 20px 0;
		@include tab {
			padding: 0 0;
			width: 50%; 
		}
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: $primary;
		&:hover {
			color: tint($primary,40%);
		}
	}
	.info {
		margin: 3px 0;
		position: relative;
		padding-right: 38px;
		padding-left: 20px;
	}
	.icon {
		color: #c3c3c3;
		font-size: 15px;
		line-height: 1;
		position: absolute;
		top: 5px;
		left: 0;
	}
}
/* Why Tri-Square */
#primary.whyus {
	.row1_text {
		padding-top: 10px;
		padding-bottom: 15px;
	}
}
.section.why-us {
	padding-top: 0;
	padding-bottom: 60px;
	.flexwrap {
		@include flexgroup();
		margin: 0 -20px;
	}
	.info {
		width: 100%;
		margin: 0 0;
		padding: 20px;
		@include tab {
			width: 50%;
		}
		.inside {
			height: 100%;
			background: #e9ebef;
		}
	}
	.feat-image {
		width: 100%;
		float: left;
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.nophoto .feat-image {
		background-color: #d4d6da;
		&:before {
			content:"Photo Coming Soon";
			display: block;
			width: 100%;
			text-align: center;
			font-size: 20px;
			color: #aaacaf;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	.textwrap {
		width: 100%;
		float: left;
		padding: 20px;
	}
	.head {
		margin-bottom: 20px;
		h2,h3 {
			margin: 0 0;
			font-weight: 400;
			line-height: 1.3;
		}
		h2 {
			font-size: 1.3rem;
			margin-bottom: 2px;
		}
		h3 {
			font-size: 1rem;
			font-weight: 300;
		}
	}
	.text {
		font-size: 0.8rem;
		line-height: 1.6;
		ul {
			padding-left: 25px;
		}
		ul li {
			margin-bottom: 10px;
		}
	}
}

#primary.whyus .section.row1_text.process-description {
	font-size: 20px;
	padding-top: 0;
	padding-bottom: 50px;
	.midtext p:first-child {
		margin-top: 0;
	}
}

.section.process {
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	&:before {
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,.85);
	}
	.midtext.pad {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.section-content {
		position: relative;
		z-index: 5;
	}
	.steps {
		padding-top: 40px;
		padding-bottom: 30px;
		margin: 0 -3px;
		@include flexgroup();
		.step {
			width: 50%;
			padding: 3px;
			margin: 20px 0;
			@include tab {
				width: 50%;
			}
			p:last-child {
				margin-bottom: 0;
			}
			@media screen and (max-width: $xswidth) {
				width: 100%;
			}
		}
		&.columns3 {
			.step {
				@include tab {
					width: 33.3%;
				}
			}
		}
		&.columns4 {
			.step {
				@include tab {
					width: 50%;
				}
				@include mid {
					width: 25%;
				}
			}
		}
		&.columns5 {
			.step {
				@include tab {
					width: 33.3%;
				}
				@include mid {
					width: 20%;
				}
			}
		}
		&.columns6 {
			.step {
				@include tab {
					width: 33.3%;
				}
			}
		}
		&.columnsMax {
			.step {
				@include tab {
					width: 50%;
				}
				@include mid {
					width: 25%;
				}
			}
		}
	}
	.inside {
		height: 100%;
		position: relative;
		background: #FFF;
		box-shadow: 0 0 10px rgba(0,0,0,0.25);
	}
	.number {
		position: absolute;
		top: -30px;
		left: 0;
		width: 100%;
		height: 30px;
		overflow: hidden;
		span {
			display: inline-block;
			background: #7b94c9;
			color: #FFF;
			padding: 2px 15px 3px;
			font-size: 16px;
		}
	}
	.stitle {
		margin: 0 0;
		font-size: 1.1rem;
		font-weight: 300;
		line-height: 1.4;
	}
	.stext {
		font-size: 0.75rem;
		font-weight: 300;
		line-height: 1.6;
		@media screen and (max-width: $tabwidth) {
			font-size: 0.8rem;
		}
	}
	.steptext {
		padding: 15px;
	}
}

.stars {
	position: relative;
	text-align: center;
	.wrap {
		display: inline-block;
	}
	span {
		display: inline-block;
		position: relative;
		font-size: 27px;
		margin: 2px 6px;
		@media screen and (max-width: $xswidth) {
			font-size: 15px;
			margin: 2px 3px;
		}
	}
	span.blue {
		color: $primary;
	}
	.shaded {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 5;
	}
}

.section.awards {
	padding: 20px;
	position: relative;
	&:before {
		content:"";
		display: block;
		width: calc(100% - 41px);
		height: calc(100% - 41px);
		border: 1px solid $primary;
		position: absolute;
		top: 20px;
		left: 20px;
	}
	.text-middle {
		padding-top: 60px;
    	padding-bottom: 50px;	
	}
	.wrapper {
		position: relative;
		z-index: 10;
	}
	.midtext.pad {
		padding: 4% 7% 8%;
		@media screen and (max-width: $xswidth) {
			padding: 15% 7% 20%;
		}
	}
	.awards-list {
		margin: 0 0;
		padding: 35px 0 0;
		list-style: none;
		text-align: center;
		li {
			color: $primary;
			position: relative;
			font-size: 1.1rem;
			font-weight: 500;
			line-height: 1.2;
			margin: 22px 0;
			.starIcon {
				font-size: 10px;
				position: relative;
				top: -4px;
				left: -10px;
			}
			span.price {
				font-weight: 300;
			}
			span.year {
				font-size: .85rem;
				font-weight: 300;
				position: relative;
			}
		}
		.awardsLink {
			display: inline-block;
			text-decoration: none;
			color: $primary;
			&:hover {
				color: tint($primary,50%);
			}
		}
	}
}

/* Sitemap */
.pagesitemap {
	.midtext {
		font-size: 15px;
	}
}
.sitemapMenu {
	text-align: center;
	max-width: 700px;
	width: 100%;
	margin: 30px auto 0;
	padding-bottom: 60px;
	.sitemapnav {
		// max-width: 700px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
		@include xs {
			width: auto;
			display: inline-block;
		}
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		li {
			position: relative;
		}
	}
	ul > li {
		padding-left: 12px;
		margin-bottom: 2px;
		> a:before {
			content:"";
			display: block;
			width: 5px;
			height: 5px;
			background: $primary;
			position: absolute;
			top: 7px;
			left: 0;
			transition: all ease-out .3s;
		}
		ul {
			padding-left: 10px;
		}
		ul li {
			padding-left: 10px;
			> a:before {
				background: transparent;
				border: 1px solid $primary;
				border-radius: 100%;
				width: 3px;
				height: 3px;
				top: 8px;
				transition: all ease-out .3s;
			}
		}
		ul li:hover > a:before {
			border-color: $primary;
			background: transparent;
		}
	}
	ul.menu > li > a:hover:before {
		background: tint($primary,40%);
	}
	ul.menu {		
		@include tab {
			column-count: 2;
		}
		ul a {
			padding: 0 0 0 2px;
		}
	}
	ul.menu > li {
		width: 100%;
		@include tab {
			margin-left: 25%;
			width: 230px;

		}
	}
	a {
		color: $primary;
		text-decoration: none;
		display: inline-block;
		&:hover {
			color: tint($primary,40%);
		}
	}
}

/* 404 page */
body.nobanner .page404,
.page404 {
	.site-main {
		min-height: 65vh;
	}
	h1.entry-title {
		margin-top: 0;
		margin-bottom: 0;
	}
	p {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
	.text-middle {
		padding-top: 10vh;
		padding-bottom: 10vh;
	}
	.sitemapMenu {
		margin-top: 20px;
	}
}

/* Footer */
.full-wrapper {
	width: 100%;
	float: left;
}
.site-footer {
	font-size: 13px;
	font-weight: 300;
	line-height: 1.6;
	a {
		display: inline-block;
		text-decoration: none;
		color: #FFF;
		&:hover {
			opacity: 0.45;
		}
	}
	.flexwrap {
		position: relative;
		@include flexgroup();
	}
	.logo-img {
		display: block;
		max-width: 120px;
		width: 100%;
	}
	.ftitle {

	}
	.social {
		a {
			font-size: 22px;
			margin: 2px 2px;
			height: 40px;
			line-height: 40px;
		}
	}
	.accolades {
		img {
			width: 40px;
			height: auto;
		}
	}
}
.footcol {
	&.left {
		width: 30%;
		background: $primary;
		padding: 20px 30px;
		@include flexgroup();
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
		img {
			width: 100%;
			height: auto;
		}
	}
	&.right {
		width: 70%;
		color: #FFF;
		background: tint($primary,50%);
		@include flexgroup();
		@include flexbox-align-items(center);
		.inside {
			width: 100%;
			padding: 20px  5%;
			@include flexgroup();
			@include flexbox-align-items(center);
			@include tab {
				padding: 0  5%;
			}
		}
		.flexcol {
			padding: 20px 0;
		}
		.contact-info {
			width: 235px;
		}
	}
	.col6 {
		width: 150px;
	}
}
.footer-menu-wrap {
	@include mid {
		width: 45%;
	}
}
.footer-menu-wrap ul {
	margin: 0 0;
	padding: 0 5%;
	list-style: none;
	ul {
		display: none;
	}
	li {
		float: left;
		width: 100%;
		@include tab {
			width: auto;
		}
	}
	a {
		display: inline-block;
		text-decoration: none;
		padding: 5px 15px;
	}
}
@media screen and (max-width: $deskwidth - 1px) {
	.footcol {
		.col6 {
			width: 50%;
			padding: 20px 0 0;
		}
		&.right .contact-info,
		&.right .footer-menu-wrap {
			width: 50%;
		}
		&.right .footer-menu-wrap ul {
			padding: 0 0;
			width: 100%;
			float: left;
			margin: 15px -15px;
		}
	}
}
@media screen and (max-width: 768px) {
	.footcol .flexcol {
		width: 100%!important;
		padding: 10px 0!important;
	}
	.footcol.left {
		width: 25%;
		padding: 15px;
	}
	.footcol.right {
		width: 75%;
	}
}
@media screen and (max-width: 480px) {
	.footcol.left {
		width: 25%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}		
	.footcol.right {
		width: 75%;
		height: 100%;
		position: relative;
		left: 25%;
	}
}
#loaderOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3000;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.45);
	&.show {
		@include flexgroup-center();
	}
}
.loaderSpin,
.loaderSpin:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loaderSpin {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .44em solid rgba(255, 255, 255, 0.2);
  border-right: .44em solid rgba(255, 255, 255, 0.2);
  border-bottom: .44em solid rgba(255, 255, 255, 0.2);
  border-left: .44em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



